.body {
  align-items: center;
  border: 0.0625rem solid #e2e8f0;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 100%;
}

.logo {
  height: 4rem;
  max-width: 100%;
  object-fit: contain;
  width: auto;
}

.nav {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.nav__anchor {
  align-items: center;
  background-color: transparent;
  border-radius: 0.375rem;
  color: #0f172a;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25rem;
  padding: 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  transition-duration: 300ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.2, 0, 0, 1);
  width: fit-content;
}

.nav__anchor:hover {
  background-color: #f1f5f9;
}

@media (min-width: 907.5px) {
  .body {
    align-items: flex-start;
    gap: 1.5rem;
  }

  .logo {
    height: 4rem;
    max-width: 100%;
    object-fit: contain;
    width: auto;
  }

  .nav {
    align-items: flex-start;
    flex-direction: column;
  }
}
